@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Color palette */
:root {
  --crimson: #d62839ff;
  --rose-red: #ba324fff;
  --lapis-lazuli: #175676ff;
  --darker-lapis-lazuli: #0e3441ff;
  --pacific-cyan: #4ba3c3ff;
  --columbia-blue: #cce6f4ff;
}


/* General styles */
body {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 20px;
  background-color: var(--lapis-lazuli);
}
.home-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

h1, h2 {
  text-align: center;
  color: var(--crimson);
  text-transform: uppercase;
  font-weight: bold;
}

.player-image {
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 5px; /* Adjust the border width as needed */
  width: 300px; 
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: var(--columbia-blue)
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--lapis-lazuli);
}

.action-profile,
button[type="submit"] {
  background-color: var(--pacific-cyan);
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.comments-container {
  background-color: var(--columbia-blue);
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.comment-view {
  border: 1px dashed var(--crimson);
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

#comment-form label {
  display: block;
  margin-top: 10px;
  color: var(--rose-red);
}

#comment-form textarea,
input[type="text"],
button[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--rose-red);
  color: white;
  cursor: pointer;
}

input[type="text"]::placeholder {
  color: white;
}

/* Add margin between buttons */
form {
  margin-bottom: 10px;
}

/* Adjust layout for player information and comments */
.player-info {
  display: flex;
  align-items: flex-start;
}

.player-image-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.player-image {
  width: 300px;
  height: auto;
}

.player-info-content {
  flex: 1;
}

/* Adjust table styles */
table {
  margin-top: 10px;
}

/* Optional: Add some spacing between the table cells */
th,
td {
  padding: 8px;
}

/* Add hover effect to buttons */
button[type="submit"]:hover {
  background-color: var(--crimson);
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Add hover effect to table rows */
tr:hover {
  background-color: var(--darker-lapis-lazuli);
  transform: scale(1.02);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Add hover effect to comments */
.comment-view:hover {
  transform: translateY(-2px);
  transition: transform 0.3s ease;
}
