body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: center;
}

.player-image {
  width: 300px;
  height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.action-profile {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.comment-view{
    border-color: black;
    border-style: dotted;
}