{% extends "layout.html" %}
{% block content %}
  {% if player == None %}
        <h2>Player Not Found</h2>
  {% else %}
  <h1>Player Information </h1>
  <table>
    <tr>
      <th>Name:</th>
      <td id="name">{{ player['name'] }}</td>
    </tr>
    <tr>
      <th>Team:</th>
      <td id="proyears">{{ player['team']['full_name']}}</td>
    </tr>
    <tr>
      <th>Games Played:</th>
      <td id="proyears">{{ player['games_played']}}</td>
    </tr>
    <tr>
      <th>Height (feet):</th>
      <td id="height">{{ player['height_feet'] }}</td>
    </tr>
    <tr>
      <th>Height (inches):</th>
      <td id="height">{{ player['height_inches'] }}</td>
    </tr>
    <tr>
      <th>Weight (pounds):</th>
      <td id="weight">{{ player['weight_pounds'] }}</td>
    </tr>
    <tr>
      <th>Season:</th>
      <td id="college">{{ player['season'] }}</td>
    </tr>
    <tr>
      <th>Position:</th>
      <td id="position">{{ player['position'] }}</td>
    </tr>
    {% if 'min' in player %}
    <tr>
      <th>Minutes:</th>
      <td id="minutes">{{ player['min'] }}</td>
    </tr>
    <tr>
      <th>Field Goals Made:</th>
      <td id="fgm">{{ player['fgm'] }}</td>
    </tr>
    <tr>
      <th>Field Goals Attempted:</th>
      <td id="fga">{{ player['fga'] }}</td>
    </tr>
    <tr>
      <th>Three-Point Field Goals Made:</th>
      <td id="fg3m">{{ player['fg3m'] }}</td>
    </tr>
    <tr>
      <th>Three-Point Field Goals Attempted:</th>
      <td id="fg3a">{{ player['fg3a'] }}</td>
    </tr>
    <tr>
      <th>Free Throws Made:</th>
      <td id="ftm">{{ player['ftm'] }}</td>
    </tr>
    <tr>
      <th>Free Throws Attempted:</th>
      <td id="fta">{{ player['fta'] }}</td>
    </tr>
    <tr>
      <th>Offensive Rebounds:</th>
      <td id="oreb">{{ player['oreb'] }}</td>
    </tr>
    <tr>
      <th>Defensive Rebounds:</th>
      <td id="dreb">{{ player['dreb'] }}</td>
    </tr>
    <tr>
      <th>Total Rebounds:</th>
      <td id="reb">{{ player['reb'] }}</td>
    </tr>
    <tr>
      <th>Assists:</th>
      <td id="ast">{{ player['ast'] }}</td>
    </tr>
    <tr>
      <th>Steals:</th>
      <td id="stl">{{ player['stl'] }}</td>
    </tr>
    <tr>
      <th>Blocks:</th>
      <td id="blk">{{ player['blk'] }}</td>
    </tr>
    <tr>
      <th>Turnovers:</th>
      <td id="turnover">{{ player['turnover'] }}</td>
    </tr>
    <tr>
      <th>Personal Fouls:</th>
      <td id="pf">{{ player['pf'] }}</td>
    </tr>
    <tr>
      <th>Points:</th>
      <td id="pts">{{ player['pts'] }}</td>
    </tr>
    <tr>
      <th>Field Goal Percentage:</th>
      <td id="fg_pct">{{ player['fg_pct'] }}</td>
    </tr>
    <tr>
      <th>Three-Point Percentage:</th>
      <td id="fg3_pct">{{ player['fg3_pct'] }}</td>
    </tr>
    <tr>
      <th>Free Throw Percentage:</th>
      <td id="ft_pct">{{ player['ft_pct'] }}</td>
    </tr>
    {% endif %}
  </table>

<div class="comments-container">
    <h2>Comments</h2>
    <div id="comments-list"></div>

    <h3>Add a Comment</h3>
    <form id="comment-form">
      <label for="name-input">Name:</label>
      <input type="text" id="name-input" required>
      <br>
      <label for="comment-input">Comment:</label>
      <textarea id="comment-input" rows="4" cols="50" required></textarea>
      <br>
      <button type="button" onclick="addComment()">Submit Comment</button>
    </form>
  </div>
  {% endif %}
{% endblock content %}