{% extends "layout.html" %}
{% block content %}
  <h1> Favorite Players List</h1>
  <table>
    <tr>
      <th>Player Name</th>
      <th>Player Team</th>
      <th>Actions</th>
    </tr>
    {% for player in players %}
    <tr>
      <th id="name">{{ player.player_name }}</th>
      <th id="team">{{ player.team_name }} </th>
      <td><form action="{{ url_for('search') }}" method="POST">
                <input type="hidden" name="search" value="{{ player.player_name }}">
                <button class="view-profile" type="submit">View Profile</button>
      </td>
    {% endfor %}
  </table>
{% endblock content %}

    